
<configuration>
	<!-- <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender"> 
		<encoder class="net.logstash.logback.encoder.LogstashEncoder"/> </appender> 
		<root level="info"> <appender-ref ref="JSON" /> </root> -->

	<include resource="org/springframework/boot/logging/logback/base.xml" />

</configuration>