<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
    "file:./checkstyle_config.dtd" >
<module name="Checker">
	<property name="severity" value="error"/>
	<module name="TreeWalker">
		<property name="severity" value="error"/>
		<!-- module name="JavadocType">
			<property name="authorFormat" value=".+"/>
			<property name="versionFormat" value="\$Id.*\$"/>
		</module>
		<module name="JavadocMethod">
			<property name="scope" value="package"/>
			<property name="allowMissingParamTags" value="true"/>
			<property name="allowMissingThrowsTags" value="true"/>
			<property name="allowMissingReturnTag" value="true"/>
		</module>
		<module name="JavadocVariable">
			<property name="scope" value="package"/>
		</module>
		<module name="JavadocStyle">
			<property name="scope" value="public"/>
			<property name="checkFirstSentence" value="false"/>
		</module -->
		<module name="ConstantName"/>
		<module name="StaticVariableName">
			<property name="format" value="^[A-Z]+[_A-Za-z0-9]*$"/>
		</module>
		<module name="LocalFinalVariableName"/>
		<module name="LocalVariableName">
			<property name="severity" value="error"/>
			<property name="format" value="^[a-z_]+[_A-Za-z0-9]*$"/>
		</module>
		<module name="MemberName">
			<property name="severity" value="error"/>
			<property name="format" value="^[a-z]+[_]*[A-Za-z0-9]*$"/>
		</module>
		<module name="MethodName">
			<property name="severity" value="error"/>
			<property name="format" value="^[a-z][a-zA-Z0-9]*_?[a-zA-Z0-9]*$"/>
		</module>
		<module name="PackageName">
			<property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
			<property name="severity" value="error"/>
		</module>
		<module name="ParameterName"/>
		<module name="TypeName"/>
		<!-- Imports -->
		<!-- module name="AvoidStarImport"/ -->
		<module name="IllegalImport"/>
		<module name="RedundantImport"/>
		<module name="UnusedImports">
			<property name="severity" value="warning"/>
		</module>
		<module name="LineLength">
			<property name="ignorePattern" value="^ *\* *"/>
			<property name="max" value="132"/>
			<property name="severity" value="ignore"/>
		</module>
		<module name="MethodLength">
			<property name="max" value="200"/>
			<property name="tokens" value="METHOD_DEF"/>
		</module>
		<module name="MethodLength">
			<property name="max" value="60"/>
			<property name="tokens" value="CTOR_DEF"/>
		</module>
		<module name="ParameterNumber">
			<property name="max" value="8"/>
			<property name="tokens" value="METHOD_DEF"/>
		</module>
		<module name="ParameterNumber">
			<property name="max" value="8"/>
			<property name="tokens" value="CTOR_DEF"/>
		</module>
		<module name="AnonInnerLength"/>
		<module name="ExecutableStatementCount">
			<property name="max" value="20"/>
			<property name="tokens" value="CTOR_DEF, INSTANCE_INIT, STATIC_INIT"/>
		</module>
		<module name="RedundantModifier"/>
		<module name="EmptyBlock">
			<property name="option" value="text"/>
			<property name="tokens" value="LITERAL_CATCH"/>
		</module>
		<module name="EmptyBlock">
			<property name="option" value="text"/>
			<property name="tokens" value="LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_IF, LITERAL_FOR, LITERAL_TRY, LITERAL_WHILE, STATIC_INIT"/>
		</module>
		<module name="NeedBraces">
			<property name="severity" value="warning"/>
		</module>
		<module name="AvoidNestedBlocks">
			<property name="allowInSwitchCase" value="true"/>
		</module>
		<module name="ArrayTrailingComma">
			<property name="severity" value="info"/>
		</module>
		<module name="CovariantEquals"/>
		<module name="DeclarationOrder">
			<property name="severity" value="info"/>
		</module>
		<module name="ParameterAssignment"/>
		
		<module name="ExplicitInitialization">
			<property name="severity" value="ignore"/>
		</module>
		
		<module name="DefaultComesLast"/>
		<module name="FallThrough"/>
		<module name="MultipleVariableDeclarations"/>
		<module name="EmptyStatement"/>
		<module name="HiddenField">
			<property name="tokens" value="VARIABLE_DEF"/>
		</module>
		<module name="IllegalInstantiation">
			<property name="classes" value="java.lang.Boolean"/>
		</module>
		<module name="IllegalTokenText">
			<property name="tokens" value="NUM_INT,NUM_LONG"/>
			<property name="format" value="^0[^lx]"/>
			<property name="ignoreCase" value="true"/>
		</module>
		<module name="IllegalType">
			<property name="tokens" value="PARAMETER_DEF, METHOD_DEF"/>
			<property name="ignoredMethodNames" value="getInstance"/>
		</module>
		<module name="InnerAssignment">
			<property name="severity" value="error"/>
		</module>
		<module name="MissingSwitchDefault">
			<property name="severity" value="error"/>
		</module>
		<module name="JUnitTestCase"/>
		<module name="NestedTryDepth"/>
		<module name="ReturnCount">
			<property name="max" value="5"/>
		</module>
		<module name="NestedIfDepth">
			<property name="max" value="3"/>
		</module>
		<module name="PackageDeclaration"/>
		<module name="SimplifyBooleanExpression">
			<property name="severity" value="warning"/>
		</module>
		<module name="SimplifyBooleanReturn">
			<property name="severity" value="error"/>
		</module>
		<module name="StringLiteralEquality">
			<property name="severity" value="error"/>
		</module>
		<module name="SuperClone"/>
		<module name="SuperFinalize"/>
		<module name="MagicNumber">
			<property name="ignoreNumbers" value="-1, 0, 1"/>
		</module>
		<module name="EqualsHashCode"/>
		<module name="IllegalInstantiation"/>
		<module name="FinalClass"/>
		<module name="HideUtilityClassConstructor">
			<property name="severity" value="info"/>
		</module>
		<module name="InterfaceIsType">
			<property name="severity" value="info"/>
		</module>
		<module name="IllegalCatch">
			<property name="illegalClassNames" value="java.lang.Exception"/> 
        </module>
        <module name="IllegalCatch">
			<property name="illegalClassNames" value="java.lang.Throwable, java.lang.RuntimeException"/> 
			<property name="severity" value="warning"/>
		</module>
		<module name="IllegalThrows">
			<property name="severity" value="error"/>
		</module>
		<module name="MutableException"/>
		<module name="ThrowsCount">
			<property name="max" value="3"/>
		</module>
		<module name="VisibilityModifier">
			<property name="publicMemberPattern" value="^[a-zA-Z0-9]*$"/>
		</module>
		<module name="VisibilityModifier">
			<property name="protectedAllowed" value="true"/>
		</module>
		<module name="BooleanExpressionComplexity">
			<property name="max" value="4"/>
		</module>
		<module name="ClassDataAbstractionCoupling">
			<property name="max" value="10"/>
		</module>
		<module name="ClassFanOutComplexity">
			<property name="max" value="30"/>
		</module>
		<module name="CyclomaticComplexity">
			<property name="severity" value="error"/>
		</module>
		<module name="JavaNCSS"/>
		<module name="NPathComplexity">
			<property name="max" value="50"/>
		</module>
		
		<module name="ArrayTypeStyle"/>
		<module name="TodoComment">
			<property name="severity" value="warning"/>
        </module>
        <module name="TrailingComment">
			<property name="legalComment" value="NON-NLS"/>
		</module>
		<module name="UpperEll"/>
		<module name="JavaNCSS"/>
		<!-- module name="DesignForExtension"/ -->
		<module name="AvoidInlineConditionals">
			<property name="severity" value="warning"/>
        </module>
		<!-- module name="MissingCtor">
			<property name="severity" value="info"/>
		</module -->
		<module name="ModifiedControlVariable"/>
		<module name="MultipleStringLiterals">
			<property name="severity" value="info"/>
		</module>
		<module name="RedundantThrows">
			<property name="logLoadErrors" value="true"/>
			<property name="suppressLoadErrors" value="true"/>
		</module>
		<module name="RequireThis">
			<property name="severity" value="ignore"/>
			<property name="checkMethods" value="false"/>
		</module>
		<module name="AbstractClassName">
    		<property name="severity" value="warning"/>
	    </module>
		<module name="JavadocMethod">
			<property name="scope" value="public"/>
			<property name="excludeScope" value="protected"/>
			<property name="logLoadErrors" value="true"/>
			<property name="suppressLoadErrors" value="true"/>
		</module>
	</module>
	<module name="Translation"/>
	<module name="StrictDuplicateCode">
		<property name="severity" value="warning"/>
		<property name="min" value="30"/>
	</module>
</module>

